/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 html, body, header, nav, h1, a,
 ul, li, strong, main, button, i,
 section, img, div, h2, p, form,
 fieldset, label, , textarea,
 span, article, footer, time, small {
   margin: 0;
   padding: 0;
   outline: 0;
   font: inherit;
   color: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   box-sizing: inherit;
   background: transparent;
 }

 a {text-decoration: none; }
 h1 {text-align: center;}
 // .aboutText {
 //   text-align: center;
 //   top: 100px;
 // }
 @import "bootstrap-sprockets";
 @import "bootstrap";

 html{
   height: 100%;
   body{
     height: 100%;
     #root{
       height: 100%;
       .appContainer{
         height: 100%;
       }
     }
   }
 }


.nav-bar{
  height: 50px;
  // background-color: black;
  flex: 1;
  display: flex;
  align-items: center;
  ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  ul li a {
    padding: 20px;
    color: black;
    font-weight: bold;
}
  ul button {
     padding: 0px 20px;
    color: black;
    font-weight: bold;
    border: none;
    display: block;
  }
}

.nav-bar .timbre {
  margin-left: auto;
}

.nav-bar ul li a:hover {
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
}

.logout-button:hover{
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease;
}




  .comment-item{
     margin: 0 auto;
     display: flex;
     justify-content: center;
     align-items: center;
     box-shadow: 10px 10px;
     background-color: white;
     padding: 50px 50px 50px 50px;
     text-align: center;
     width: 280px;

  }

li{
  list-style: none;
}

// ///////Form Stuff
.login-form-container-outter-box{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 30%;
  .login-form-container-inner-box{

    padding: 50px 50px 50px 50px;
    width: 300px;
    height: 250px;
    border-radius: 3%;
    text-align: center;
    input{
      color: black;
      border: 1px solid black;
      border-radius: 10%;
    }
    .enterSite{
      border: none;
      color: black;
      font-weight: bold;
    }
    }
}



///////Form Stuff
.profile-form-container-outter-box{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 10%;
  .profile-form-container-inner-box{
    // margin: 0px 10px 20px 180px;
    // padding: 50px 50px 50px 50px;
    color: black;
    form{
      margin-top: 30%;
      // background-color: rgba(0,0,0,0.1);

    }

    textarea{
      border-radius: 10%;
      border: 1px solid grey;
      height: 60px;
      background-color: rgba(0,0,0,0.3);
      color: white;
    }
    .form-username{
      border-radius: 10%;
      border: 1px solid grey;
      height: 30px;
      background-color: rgba(0,0,0,0.3);
      color: white;
    }

    .profile-button{
      background-color: transparent;
      color: black;
      border: none;
      padding: 5px;
      font-weight: bold;
   }
}
}
.profile-button:hover{
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease;

}

.username{
  text-transform: capitalize;
}

.upload-form-container-outter-box{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 20%;
  .upload-form-container-inner-box{
    // padding: 50px 50px 50px 50px;

    button{
      background-color: transparent;
      color: black;
      border: none;
      font-weight: bold;

    }
    .upload-title{
      background-color: rgba(0,0,0,0.3);
      border: none;
      font-weight: bold;
    }
   }
}


  .Pic{

  border: 1px solid black;
  border-radius: 50%;

}
.vcontainer{
  display: flex;
  flex-direction: column;
  // text-align: center;
  align-items: center;


  button{
    text-align: center;
    font-weight: bold;
    border-radius: 15px;
    width: 70px;
    padding: 3px;
    margin-top: -40px;
    border: none;
    color: black;
    font-size: 12px;
  }
}

.comment-form-container-outter-box{
  margin-top: 20%;

  display: flex;
  justify-content: center;
  height: calc(100% - 100px);
  .comment-form-container-inner-box{
    display: flex;
    justify-content: center;
    box-shadow: 10px 10px;
    background-color: white;
    padding: 50px 50px 50px 50px;
    // text-align: center;
    textarea{
      margin: 0px;
      width: 296px;
      height: 109px;
    }
  }
}

//background stuff
body{
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('/background.jpg');
}


//track art postioning
.covers{
  display: flex;
  justify-content: space-around;;
  flex-direction: row;
  flex-wrap: wrap;
  .cover_art{
      margin: 50px;
      align-items: center;
      img{
        border-radius: 15%;
      }
      h4{

        color: white;
      }
      button{
        border: none;
        background-color: black;
        color: white;
      }
  }
}


.uploadSubmit{
  border: none;
  background-color: transparent;
  font-weight: bold;
  color: black;
}
.cover_art:hover{
  box-shadow: 5px 5px 20px;
  cursor: pointer;
}


audio::-webkit-media-controls-panel{
  background:rgba(0,0,0,0.6);
}

audio{
  position:fixed;
  width: 100%;
  bottom: 0;
  float: left;
}

.logoContainer{
  height: 80%;
 width: 100%;
 display: flex;
 position: fixed;
 align-items: center;
 justify-content: center;
}
.homeTagContainer{
  display: flex;
  flex-direction: column;
.homeTag{
  font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
	font-size: 48px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
  align-items: center;
  margin: 2%;
  text-align:center;
  color: black;
}
}
.websiteLogo {
	font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
	font-size: 48px;
  margin: 40%;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
  align-items: center;
  margin: 0 auto;
}



.guest{
  margin: 10%;
  border: none;
  color: black;
  font-weight: bold;
}
.enter{

  display: flex;
  flex-direction: column;
  align-items: center;
}
// .logout-button:hover {
//   background: grey;
//   cursor: pointer;
//   padding: 20px;
//   text-decoration: none;
//   transition: all 0.3s ease;
// }
