/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 html, body, header, nav, h1, a,
 ul, li, strong, main, button, i,
 section, img, div, h2, p, form,
 fieldset, label, input, textarea,
 span, article, footer, time, small {
   margin: 0;
   padding: 0;
   outline: 0;
   font: inherit;
   color: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   box-sizing: inherit;
   background: transparent;
 }

 a {text-decoration: none; }
 h1 {text-align: center;}
 .aboutText {
   text-align: center;
   top: 100px;
 }
 @import "bootstrap-sprockets";
 @import "bootstrap";

 html{
   height: 100%;
   body{
     height: 100%;
     #root{
       height: 100%;
       .appContainer{
         height: 100%;
       }
     }
   }
 }


.nav-bar{
  height: 50px;
  background-color: black;
  flex: 1;
  display: flex;
  align-items: center;
  ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  ul li a {
    padding: 20px;
    color: white;
    font-weight: bold;
}
  ul button {
     padding: 0px 20px;
    color: white;
    font-weight: bold;
    border: none;
    display: block;
  }
}

.nav-bar .timbre {
  margin-left: auto;
}

.nav-bar ul li a:hover {
    background: grey;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
}

.nav-bar ul li a:hover {
    background: grey;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
}



  .comment-item{
     margin: 0 auto;
     display: flex;
     justify-content: center;
     align-items: center;
     box-shadow: 10px 10px;
     background-color: white;
     padding: 50px 50px 50px 50px;
     text-align: center;
     width: 280px;

  }

li{
  list-style: none;
}

// ///////Form Stuff
.login-form-container-outter-box{
  margin: 10%;
  display: flex;
  justify-content: center;
  height: calc(100% - 60px);
  .login-form-container-inner-box{
    display: flex;
    align-items: center;
    box-shadow: 10px 10px;
    background-color: white;
    padding: 50px 50px 50px 50px;
    width: 300px;
    height: 250px;
    border-radius: 50%;
    .enterSite{
      border: none;
      color: black;
      font-weight: bold;
    }
    }
}


#diamond {
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-bottom-color: rgba(0,0,0,0.3);
	position: relative;
	top: -50px;
}
#diamond:after {
	content: '';
	position: absolute;
	left: -50px;
	top: 50px;
	width: 0;
	height: 0;
  border: black;
	border: 50px solid transparent;
	border-top-color:  rgba(0,0,0,0.3);
}

///////Form Stuff
.profile-form-container-outter-box{
  margin: 10%;
  display: flex;
  justify-content: center;
  height: calc(100% - 100px);
  .profile-form-container-inner-box{
    display: flex;
    align-items: center;
    box-shadow: 10px 10px;
    background-color: white;
    padding: 50px 50px 50px 50px;
    width: 300px;
   }
}

.upload-form-container-outter-box{
  margin: 10%;
  display: flex;
  justify-content: center;
  height: calc(100% - 100px);
  .upload-form-container-inner-box{
    display: flex;
    align-items: center;
    box-shadow: 10px 10px;
    background-color: white;
    padding: 50px 50px 50px 50px;
    width: 300px;
   }
}


  .profilePic{
  display: flex;
  margin-left: 46%;
  justify-content: center;
  border: 1px solid black;
  border-radius: 50%;
}

.vcontainer{
  display: flex;
  flex-direction: column;
  // text-align: center;
  align-items: center;


  button{
    text-align: center;
    border-radius: 15px;
    width: 70px;
    padding: 3px;
    margin-top: -40px;
    border: none;
    color: white;
    font-size: 14px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
}

.comment-form-container-outter-box{
  margin-top: 20%;

  display: flex;
  justify-content: center;
  height: calc(100% - 100px);
  .comment-form-container-inner-box{
    display: flex;
    justify-content: center;
    box-shadow: 10px 10px;
    background-color: white;
    padding: 50px 50px 50px 50px;
    // text-align: center;
    textarea{
      margin: 0px;
      width: 296px;
      height: 109px;
    }
  }
}

//background stuff
body{
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('/background.jpg');
}


//track art postioning
.covers{
  display: flex;
  justify-content: space-around;;
  flex-direction: row;
  flex-wrap: wrap;
  .cover_art{
      margin: 50px;
      align-items: center;
      h4{

        color: white;
      }
      button{
        border: none;
        background-color: black;
        color: white;
      }
  }
}

.cover_art:hover{
  box-shadow: 5px 5px 20px;
  cursor: pointer;
}


audio::-webkit-media-controls-panel{
  background:rgba(0,0,0,0.6);
}

audio{
  position:fixed;
  width: 100%;
  bottom: 0;
  float: left;
}

.logout-button:hover {
  background: grey;
  cursor: pointer;
  padding: 20px;
  text-decoration: none;
  transition: all 0.3s ease;
}
